* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sec-centered {
    max-width: 1660px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} 
.float-left {
    float: left;
}
.section-bg-blue {
    background-color: rgb(12, 50, 90);
}
/* header */

.sec-header {
    
    height: 100px;
    line-height: 100px;
}
.logo {
    width: 10%;
}
.logo img {
    vertical-align: middle;
  
}
.elenco-nav {
    width: 55%;
}
.elenco-login {
    width: 35%;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}

/* main */
.sec-hero {
    height: 500px;
    background-image: url(img/background-header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}
.title-container-row {
 position: relative;
 height: 500px;
}
.title-aligned {
    width: 600px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, 50%);
}