* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sec-header {
    background-color: rgb(12, 50, 90);
    height: 80px;
}
.sec-centered {
    width: 1024px;
    margin: auto;
}
.sec-hero {
    background-color: rgb(12, 50, 90);
}